* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background:url(../static/bg.jpg);
    background-position: center;
    background-size: cover;
    color:rgb(150, 46, 98);
    margin-left: 2%;
    margin-top: 2%;
}

p {
    font-size: 2vh;
}

th {
    font-size: 2.5vh;
    padding: 5px 2%;
}