<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Templates</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Hi {{name}}! How are you finding Flask sessions?</h1>
{%if name == 'Godwin':%}
<p>You are the admin</p>
{%else%}
<br>
<p>You are a normal user</p>
{%endif%}
<br>
<table>
    <tr>
        <th>Student Names</th>
        <th>Student Ages</th>
    </tr>
    <tr>
        <th>Jason</th>
        <th>23 years old</th>
    </tr>
    <tr>
        <th>Naeemah</th>
        <th>25 years old</th>
    </tr>
    <tr>
        <th>Godwin</th>
        <th>26 years old</th>
    </tr>
    <tr>
        <th>Thapelo</th>
        <th>47 years old</th>
    </tr>
</table>
</body>
</html>